# Supabase
SUPABASE_URL=your_supabase_url
SUPABASE_KEY=your_supabase_anon_key

# Duidku Payment Gateway
NUXT_DUIDKU_MERCHANT_CODE=
NUXT_DUIDKU_API_KEY=
NUXT_DUIDKU_SECRET_KEY=

# Fonnte (WhatsApp OTP)
NUXT_FONNTE_API_TOKEN=

# Meta / Facebook Ads
NUXT_META_APP_SECRET=
NUXT_META_ACCESS_TOKEN=

# TikTok Ads
NUXT_TIKTOK_APP_SECRET=

# Google Ads
NUXT_GOOGLE_ADS_DEV_TOKEN=
NUXT_GOOGLE_CLIENT_SECRET=
